<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>catalog</title>
  <link rel="stylesheet" href="catalog-style.css">
</head>
<body>
  <section class="catalog">
    <p class="catalog__header">Каталог спортивных баз</p>
    <div class="catalog__content">
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/novopolotsk/novopolotsk-1.jpg" alt="novopolotsk-logo"></a>
        <h3 class="item-card__header">Дворец водного спорта г.Новополоцк</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Плавание, Синхронное плавание</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/globin/globin-1.JPG" alt="globin-logo"></a>
        <h3 class="item-card__header">Центр олимпийского резерва г. Жлобин</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Мини-футбол, Волейбол, Водное поло,
          Футбол, Синхронное плавание, Фигурное катание, Баскетбол, Гандбол, Гребля, Плавание, Хоккей</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/minsk/minsk-1.jpg" alt="minsk-maneg-logo"></a>
        <h3 class="item-card__header">Спортивная база г. Минск</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Мини-футбол, Волейбол, Лёгкая
          атлетика,
          Дзюдо, Синхронное плавание, Баскетбол, Теннис, Гандбол, Бокс, Плавание</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/alexandrija/alexandrija-2.jpg" alt="alexandrija-logo"></a>
        <h3 class="item-card__header">Спортивная база Александрия</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Мини-футбол, Волейбол, Футбол,
          Баскетбол, Гандбол, Плавание</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="img/rassoni/rassoni-1.jpg" alt="rassoni-logo"></a>
        <h3 class="item-card__header">Спортивный комплекс г. Россоны</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Мини-футбол, Волейбол, Баскетбол,
          Гандбол, Плавание</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/baranovichi/baranovichi-1.jpg" alt="baranovichi-logo"></a>
        <h3 class="item-card__header">Ледовый дворец г. Барановичи</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Настольный теннис, Фигурное катание,
          Гимнастика, Хоккей</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/bobrujsk/bobrujsk-1.jpg" alt="borujsk-logo"></a>
        <h3 class="item-card__header">Плавательный центр г. Бобруйск</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Плавание</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/gorki/gorki-2.jpg" alt="gorki-logo"></a>
        <h3 class="item-card__header">Спортивная база в г. Горки</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Мини-футбол, Волейбол, Футбол,
          Фигурное
          катание, Баскетбол, Гандбол, Хоккей</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/gomel/gomel-1.jpg" alt="gomel-logo"></a>
        <h3 class="item-card__header">Плавательный центр г. Гомель</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Плавание, Водное поло, Синхронное
          плавание</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/gorodok/gorodok-1.jpg" alt="gorodok-logo"></a>
        <h3 class="item-card__header">Лыжная спортивная база г. Городок</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Лыжные гонки, Синхронное плавание,
          Биатлон, Плавание</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/ivacevichi/ivacevichi-11.jpg" alt="ivacevichi-logo"></a>
        <h3 class="item-card__header">Спортивная база г. Ивацевичи</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Лёгкая атлетика, Футбол, Фигурное
          катание, Хоккей</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/kobrin/kobrin-10.jpg" alt="kobrin-logo"></a>
        <h3 class="item-card__header">Спортивная база г. Кобрин</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Мини-футбол, Лёгкая атлетика, Футбол,
          Фигурное катание, Гребля, Плавание, Хоккей</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/lugesno/lugesno-2.jpg" alt="lugesno-logo"></a>
        <h3 class="item-card__header">Спортивная база Лужесно</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Мини-футбол, Волейбол, Футбол,
          Синхронное плавание, Баскетбол, Гандбол, Плавание</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/mogilev-gimnastic/mogilev-gimnastic-1.JPG"
                                                alt="mogilev-gimnastic-maneg-logo"></a>
        <h3 class="item-card__header">Дворец гимнастики г. Могилев</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Плавание, Гимнастика</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/mogilev-konnij-maneg/mogilev-konnij-maneg-1.jpg"
                                                alt="mogilev-konnij-maneg-logo"></a>
        <h3 class="item-card__header">Крытый конный манеж г. Могилев</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Конный спорт</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/mogilev-legkaja-atletica/mogilev-legkaja-atletica-1.jpg"
                                                alt="mogilev-legkaja-atletica-maneg-logo"></a>
        <h3 class="item-card__header">Легкоатлетический манеж г. Могилев</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Мини-футбол, Волейбол, Лёгкая
          атлетика,
          Дзюдо, Баскетбол, Теннис, Гандбол</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/novopolotsk-biatlon/novopolotsk-biatlon-2.jpg"
                                                alt="novopolots-kbiatlon-logo"></a>
        <h3 class="item-card__header">Спортивная база по биатлону г. Новополоцк</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Биатлон, Лыжные гонки</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/novopolotsk-futbol/novopolotsk-futbol-1.jpg"
                                                alt="novopolotsk-futbol-logo"></a>
        <h3 class="item-card__header">Футбольная база г. Новополоцк</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Футбол, Мини-футбол.</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/novopolotsk-ledovij/novopolotsk-ledovij-1.jpg"
                                                alt="novopolotsk-ledovij-logo"></a>
        <h3 class="item-card__header">Ледовый дворец г. Новополоцк</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Фигурное катание, Хоккей</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/orsha/orsha-1.jpg" alt="orsha-logo"></a>
        <h3 class="item-card__header">Спортивная база г. Орша</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Мини-футбол, Волейбол, Фигурное
          катание,
          Баскетбол, Теннис, Гандбол, Бокс, Хоккей</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/pinsk/pinsk-1.jpg" alt="pinsk-logo"></a>
        <h3 class="item-card__header">Спортивная база г. Пинск</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Мини-футбол, Волейбол, Водное поло,
          Лёгкая атлетика, Футбол, Фигурное катание, Баскетбол, Гандбол, Гребля, Гимнастика, Плавание, Хоккей</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/polock/polock-1.jpg" alt="polock-logo"></a>
        <h3 class="item-card__header">Гребная база г. Полоцк</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Гребля, Волейбол, Баскетбол,
          Мини-футбол
        </p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/prugani/prugani-1.jpg" alt="prugani-logo"></a>
        <h3 class="item-card__header">Спортивная база г. Пружаны</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Синхронное плавание, Фигурное катание,
          Плавание, Хоккей</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/shklov/shklov-1.jpg" alt="shklov-logo"></a>
        <h3 class="item-card__header">Ледовый дворец г. Шклов</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Фигурное катание, Хоккей</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
      <section class="catalog__item-card">
        <a class="item-card__logo" href=""><img src="./img/ushachi/ushachi-1.jpg" alt="ushachi-logo"></a>
        <h3 class="item-card__header">Спортивный центр г. Ушачи</h3>
        <p class="item-card__discription"><span class="sport">Виды спорта: </span>Мини-футбол, Волейбол, Дзюдо,
          Настольный
          теннис, Баскетбол, Гандбол, Плавание</p>
        <a class="item-card__link button" href="">Подробнее</a>
      </section>
    </div>
  </section>
</body>
</html>