@import url(./reset.css);
@import url(./theme.css);

body {
  width: 100%;
  height: 100%;
  background: var(--body-bg-color);
}

.sb-container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

main {
  flex: 1;
}

.sb-button,
.sb-button:visited,
.sb-button:link {
  display: inline-block;
  overflow: hidden;
  padding: 0 0.75em;
  margin: 0;
  max-width: 100%;
  height: 2.5em;
  border-radius: 0.3em;
  box-shadow: 0 0 0.3em 0.1em rgba(100, 149, 237, .4);
  border: 1px solid var(--button-border-color);
  background: var(--button-bg-color);
  color: var(--button-text-color);
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-overflow: ellipsis;
  line-height: 2.5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .025em;
  white-space: nowrap;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.2s .15s ease;
  transition: -webkit-transform 0.2s .15s ease;
  transition: transform 0.2s .15s ease;
  transition: transform 0.2s .15s ease, -webkit-transform 0.2s .15s ease;
  cursor: pointer;
}

.sb-button:hover {
  box-shadow: 0 0 0.5em 0.2em rgba(100, 149, 237, .3);
  color: var(--button-hover-text-color);
  border: 1px solid var(--button-hover-border-color);
  -webkit-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
}

.sb-button:active {
  outline: none;
  box-shadow: 0 0 0.3em 0.1em rgba(100, 149, 237, .5);
  color: var(--button-active-text-color);
  background: var(--button-active-bg-color);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.sb-button:focus {
  outline: none;
  color: var(--button-focus-text-color);
  background: var(--button-focus-bg-color);
}

.sb-button:before {
  content: "";
  position: absolute;
  top: calc(50% - 0.1em);
  left: -100%;
  width: 100%;
  height: 0.1em;
  background: var(--button-before-bg-color);
  webkit-transition: 0.5s;
  transition: 0.5s;
}

.sb-button:hover:before {
  -webkit-animation: animate-sb-button-hover .5s linear forwards;
  animation: animate-sb-button-hover .5s linear forwards;
}

@-webkit-keyframes animate-sb-button-hover {
  0% {
    top: calc(50% - 0.1em);
    left: -100%;
    height: 0.1em;
    z-index: 1;
  }
  50% {
    top: calc(50% - 0.1em);
    left: 0;
    height: 0.1em;
    z-index: 1;
  }
  100% {
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}

@keyframes animate-sb-button-hover {
  0% {
    top: calc(50% - 0.1em);
    left: -100%;
    height: 0.1em;
    z-index: 1;
  }
  50% {
    top: calc(50% - 0.1em);
    left: 0;
    height: 0.1em;
    z-index: 1;
  }
  100% {
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}

header {
  width: 100%;
  height: auto;
  font-size: 1rem;
  position: absolute;
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

.header_fixed {
  position: fixed;
  z-index: 9;
  background: var(--header-bg-color);
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.25), 0 0.7em 0.7em rgba(0, 0, 0, 0.22);
}

.header__menu-btn {
  width: 6em;
  height: 3em;
  position: fixed;
  top: 1em;
  cursor: pointer;
  z-index: 99;
  background: var(--header__menu-btn-bg-color);
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.25), 0 0.7em 0.7em rgba(0, 0, 0, 0.12);
}

.header__top-menu {
  font-size: 1em;
  text-align: center;
  color: var(--top-menu-text-color);
}

.header__menu-main {
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-left: 3em;
  overflow: hidden;
}

.menu-main__links {
  display: inline-block;
  height: 4em;
  line-height: 4em;
  padding: 0 1em;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 0.01em;
  font-family: "Franklin Gothic Medium", sans-serif;
  font-weight: bold;
  text-align: center;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  color: var(--top-menu__links-text-color);
  transition: .3s linear;
}

.menu-main__right-item .menu-main__links {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.menu-main__left-item {
  -webkit-transform: translateX(-4000%);
  transform: translateX(-4000%);
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  will-change: transform;
}

.menu-main__center-item {
  margin: 0 auto;
  -webkit-transform: translateY(-4000%);
  transform: translateY(-4000%);
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  will-change: transform;
}

.menu-main__right-item {
  margin-left: auto;
  -webkit-transform: translateX(4000%);
  transform: translateX(4000%);
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  will-change: transform;
}

.menu-main__left-item_showed,
.menu-main__left-item_showed,
.menu-main__right-item_showed {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.menu-main__center-item_showed {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.burger,
.burger:before,
.burger:after {
  margin-left: -1em;
  width: 2em;
  height: 0.2em;
  margin-top: -0.12em;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--burger-menu-color);
  border-radius: 0.1em;
}

.burger:before,
.burger:after {
  content: "";
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.burger:before {
  -webkit-transform: translateY(0.5em);
  transform: translateY(0.5em);
}

.burger:after {
  -webkit-transform: translateY(-0.5em);
  transform: translateY(-0.5em);
}

.header__menu-btn_active .burger:before {
  margin-left: -0.12em;
  width: 1.1em;
  background-color: var(--burger-menu-active-color);
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
  -webkit-transform-origin: right top;
  transform-origin: right top;
}

.header__menu-btn_active .burger:after {
  margin-left: -0.12em;
  width: 1.1em;
  background-color: var(--burger-menu-active-color);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
}

.header__menu-btn_active .burger {
  background-color: var(--burger-menu-active-color);
}

.menu-main__links:hover {
  color: var(--header-menu-links-hover-text-color);
  -webkit-box-shadow: 0.8em 0 0.5em -0.1em rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0.8em 0 0.5em -0.1em rgba(50, 50, 50, 0.25);
  box-shadow: 0.8em 0 0.5em -0.1em rgba(50, 50, 50, 0.25);
}

.menu-main__right-item .menu-main__links:hover {
  -webkit-box-shadow: -0.8em 0 0.5em -0.1em rgba(50, 50, 50, 0.25);
  -moz-box-shadow: -0.8em 0 0.5em -0.1em rgba(50, 50, 50, 0.25);
  box-shadow: -0.8em 0 0.5em -0.1em rgba(50, 50, 50, 0.25);
}

.menu-main__links:active {
  color: var(--header-menu-links-active-color);
}

.menu-main__links:focus {
  outline: none;
  color: var(--header-menu-links-focus-color);
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: var(--main__header-text-color);
  background: var(--main__header-bg-color);
}

.main-header__title {
  height: 2.5em;
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: 2.4em;
  line-height: 2.4em;
  color: var(--main__header-text-color);
  text-align: center;
  background: var(--main__header-bg-color);
}

.main__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
}

.main__service-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 0.3em;
  margin: 1em;
  padding: 2em;
  background: url("../images/sb-main__service-item-bg-1.jpg") no-repeat 100%/100%;
}

.main__service-item:hover h3,
.main__service-item:hover p {
  color: var(--main__service-text-hover-color);

}

.main__service-item_theme {
  background-image: url("../images/sb-main__service-item-bg-2.jpg");
}

.main__service-item h3 {
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: 2.4em;
  font-weight: bold;
  color: var(--main-service-item-title-text-color);
  -webkit-transition: .6s linear;
  transition: .6s linear;
}

.main__service-item p {
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em 0 3em;
  color: var(--main-sevice-text-color);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

footer {
  font-size: 1rem;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  width: 100%;
  border-radius: 0.3em;
  background: url("../images/sb-footer-bg.jpg") no-repeat 100%/100%;
}

.footer__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: var(--footer-layout-text-color);
  padding: 1em;
}

.footer__logo {
  padding: 1em 0;
}

.footer__form legend {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--footer-form-legend-text-color);
}

.footer__form {
  font-size: 1rem;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 2em;
}

.footer__letter-input {
  padding: 0.1em 0 0.4em;
}

.footer__letter-input-field {
  width: 100%;
  height: 2em;
  padding: 0.5em;
  border: none;
  outline: none;
  border-radius: 0.3em;
  color: var(--footer__input-field-text-color);
  font-size: 1em;
  line-height: 2em;
}

.footer__letter-input-field::-webkit-input-placeholder {
  color: var(--footer__input-placeholder-color);
}

.footer__letter-input-field::-moz-placeholder {
  color: var(--footer__input-placeholder-color);
}

.footer__letter-input-field:-ms-input-placeholder {
  color: var(--footer__input-placeholder-color);
}

.footer__letter-input-field::placeholder {
  color: var(--footer__input-placeholder-color);
}

.footer__letter-input-field:focus::-webkit-input-placeholder {
  color: transparent;
}

.footer__letter-input-field:focus::-moz-placeholder {
  color: transparent;
}

.footer__letter-input-field:focus:-ms-input-placeholder {
  color: transparent;
}

.footer__letter-input-field:focus::placeholder {
  color: transparent;
}

.footer__form fieldset {
  border: none;
}

.footer__letter-form legend {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 0.8em;
  color: var(--footer__letter-form-legend-text-color);
}

.footer-kontakt__header {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  color: var(--footer-kontakt-text-color);
  padding: 0.5em 1em 2.5em 1em;
}

.footer__kontakt > p {
  font-size: 1.3em;
  color: var(--footer-kontakt-text-color);
}

.footer__kontakt a,
.footer__kontakt a:visited {
  color: var(--footer-kontakt-text-color);
}

.footer__soc-item {
  padding: 1em;
}

.footer__address {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: var(--footer__adress-text-color);
  background: var(--footer__adress-bg-color);
  border-radius: 50% 0;
}

.footer__address p {
  height: 3em;
  line-height: 3em;
  font-size: 0.9em;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: 2em;
}

.footer__list-item {
  border-right: 1px solid var(--footer__list-border-color);
}

.footer__list-item:last-child {
  border-right: none;
}

.footer__list-link {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  padding: 0 1em 1em 1em;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: 1em;
  letter-spacing: 0.2em;
  font-weight: bold;
  text-align: center;
  color: var(--footer-link-text-color);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.footer__list-link:hover {
  color: var(--footer-link-hover-color);
  border-bottom: 3px solid var(--footer-link-hover-color);
  border-right: none;
}

@media (max-width: 1115px) {

  .menu-main__right-item {
    margin: 0;
  }

  .header__menu-main {
    padding-top: 5em;
  }

  .menu-main__center-item {
    position: absolute;
    left: 50%;
    top: 0.5em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .top-menu {
    position: relative;
  }

  .main__slide > figcaption {
    font-size: 3em;
  }

  .footer__layout {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .footer__kontakt {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .main-header-logo {
    display: none;
  }
}

@media screen and (max-width: 800px) {

  .footer__list {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .main__service {
    flex-direction: column;
  }
}

@media (max-width: 640px) {

  .header__menu-main,
  .footer__layout,
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }

  .main__slide > figcaption {
    font-size: 2em;
  }

  .footer__list-item {
    border-right: none;
  }

  .main__service {
    flex-direction: column;
  }

  .main__header {
    display: none;
  }
}
