:root {
  --periwinkle-gray: #c3cee1;
  --nepal: #8e9fbb;
  --aliceblue: #f0f8ff;
  --aqua: #00ffff;
  --lightcyan: #e0ffff;
  --paleturquoise: #afeeee;
  --aquamarine: #7fffd4;
  --turquoise: #40e0d0;
  --mediumturquoise: #48d1cc;
  --darkturquoise: #00ced1;
  --cadetblue: #5f9ea0;
  --steelblue: #4682b4;
  --lightsteelblue: #b0c4de;
  --powderblue: #b0e0e6;
  --lightblue: #add8e6;
  --skyblue: #87ceeb;
  --lightskyblue: #87cefa;
  --deepskyblue: #00bfff;
  --dodgerblue: #1e90ff;
  --cornflowerblue: #6495ed;
  --mediumslateblue: #7b68ee;
  --royalblue: #4169e1;
  --blue: #0000ff;
  --mediumblue: #0000cd;
  --navy: #000080;
  --midnightblue: #191970;
  --indigo: #4b0082;
  --tomato: #FF6347;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}