:root {
  --periwinkle-gray: #c3cee1;
  --nepal: #8e9fbb;
  --aliceblue: #f0f8ff;
  --aqua: #00ffff;
  --lightcyan: #e0ffff;
  --paleturquoise: #afeeee;
  --aquamarine: #7fffd4;
  --turquoise: #40e0d0;
  --mediumturquoise: #48d1cc;
  --darkturquoise: #00ced1;
  --cadetblue: #5f9ea0;
  --steelblue: #4682b4;
  --lightsteelblue: #b0c4de;
  --powderblue: #b0e0e6;
  --lightblue: #add8e6;
  --skyblue: #87ceeb;
  --lightskyblue: #87cefa;
  --deepskyblue: #00bfff;
  --dodgerblue: #1e90ff;
  --cornflowerblue: #6495ed;
  --mediumslateblue: #7b68ee;
  --royalblue: #4169e1;
  --blue: #0000ff;
  --mediumblue: #0000cd;
  --navy: #000080;
  --midnightblue: #191970;
  --indigo: #4b0082;
  --tomato: #FF6347;
  --yellow: #FFFF00;
  --gold: #FFD700;
  --black: #000000;
  --white: #ffffff;

  --body-bg-color: var(--white);
  --button-bg-color: var(--cornflowerblue);
  --button-border-color: var(--cornflowerblue);
  --button-text-color: var(--aliceblue);
  --button-focus-text-color: var(--cornflowerblue);
  --button-focus-bg-color: var(--tomato);
  --button-before-bg-color: var(--tomato);
  --button-hover-text-color: var(--aliceblue);
  --button-active-text-color: var(--cornflowerblue);
  --button-active-bg-color: var(--tomato);
  --button-hover-border-color: var(--cornflowerblue);
  --top-menu-active-text-color: var(--cornflowerblue);
  --top-menu-hover-text-color: var(--aliceblue);
  --top-menu-focus-text-color: var(--cornflowerblue);
  --input-bg-color: var(--aliceblue);
  --placeholder-text-color: var(--periwinkle-gray);
  --input-text-color: var(--nepal);
  --search-form-bg-color: var(--aliceblue);
  --search-form-border-color: var(--cornflowerblue);
  --main-service-item-title-text-color: var(--white);
  --main-sevice-text-color: var(--white);
  --main__service-text-hover-color: var(--tomato);
  --main-contacts-card-bg-color: var(--aliceblue);
  --footer-link-hover-color: var(--tomato);
  --footer-link-text-color: var(--navy);
  --footer__list-border-color: var(--navy);
  --footer__adress-bg-color: var(--cornflowerblue);
  --footer__adress-text-color: var(--aliceblue);
  --footer__input-field-text-color: var(--cadetblue);
  --footer__input-placeholder-color: var(--cadetblue);
  --footer-kontakt-text-color: var(--aliceblue);
  --footer-layout-text-color: var(--white);
  --footer-form-legend-text-color: var(--aliceblue);
  --footer__letter-form-legend-text-color: var(--aliceblue);
  --sport-text-color: var(--blue);
  --item-card-bg-color: var(--aliceblue);
  --item-card__header-text-color: var(--midnightblue);
  --main__slide-bg-color: var(--white);
  --main__slide-text-color: var(--white);
  --main-add-base__title-text-color: var(--navy);
  --main-add-base-label-text-color: var(--navy);
  --main-add-base-fieldset-bg-color: var(--aliceblue);
  --main-add-base-textarea-bg-color: var(--aliceblue);
  --main-add-base-textarea-text-color: var(--cadetblue);
  --main-add-base__input-field-text-color: var(--cadetblue);
  --main-add-base__input-field-border-color: var(--cadetblue);
  --main-add-base__textarea-field-border-color: var(--cadetblue);
  --main-add-base__textarea-field-text-color: var(--cadetblue);
  --main-articles__header-text-color: var(--navy);
  --main__articles-card-bg-color: var(--aliceblue);
  --article-card__title-border-color: var(--black);
  --article-card__discription-link-text-color: var(--cornflowerblue);
  --catalog-bg-color: var(--white);
  --catalog__header-text-color: var(--navy);
  --main-contacts__header-text-color: var(--navy);
  --main__contacts-card-title-color: var(--navy);
  --main__contacts-card-content: var(--black);
  --header-bg-color: var(--cornflowerblue);
  --header__menu-btn-bg-color: var(--cornflowerblue);
  --top-menu-text-color: var(--nepal);
  --top-menu__links-text-color: var(--gold);
  --burger-menu-color: var(--gold);
  --burger-menu-active-color: var(--tomato);
  --sb-header-menu-links-hover-border-color: var(--tomato);
  --header-menu-links-hover-text-color: var(--tomato);
  --header-menu-links-active-color: var(--tomato);
  --header-menu-links-focus-color: var(--tomato);
  --main__header-text-color: var(--gold);
  --main__header-bg-color: var(--cornflowerblue);
}

