@import "./../../project/style.css";
@import "./../button/button.css";

:root {
  --top-menu-text-color: var(--aliceblue);
  --top-menu-active-text-color: var(--cornflowerblue);
  --top-menu-hover-text-color: var(--aliceblue);
  --top-menu-focus-text-color: var(--cornflowerblue);
}

body {
  font-family: sans-serif;
  margin: 0;
}

.header__block-menu {
  width: 100%;
  margin-top: 2em;
}

.menu-btn {
  display: block;
  width: 3em;
  height: 3em;
  background-color: lightcyan;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  position: relative;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -0.08em;
  left: 50%;
  margin-left: -0.7em;
  width: 1.4em;
  height: 0.16em;
  background-color: midnightblue;
  border-radius: 0.1em;
}

.menu-btn span::before,
.menu-btn span::after {
  content: "";
  transition: 0.5s;
}

.menu-btn:hover span::before {
  transform: rotate(-35deg);
  transform-origin: right top;
  margin-left: -0.2em;
  width: 0.8em;
}

.menu-btn:hover span::after {
  transform: rotate(35deg);
  transform-origin: right bottom;
  margin-left: -0.2em;
  width: 0.8em;
}

.menu-btn span::before {
  transform: translateY(0.45em);
}

.menu-btn span::after {
  transform: translateY(-0.45em);
}

.header__top-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.top-menu__menu-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  /*padding: 0.5em;*/
  /*background-color: cyan;*/
  height: 2.5em;
  line-height: 2.5em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;

}

.menu-item {
  margin-left: -1em;
  padding: 0;
}

.top-menu__links {
  /*transition: 2s;*/
  /*transform-origin: left center;*/
  /*transform: translateY(40%);*/
  /*opacity: 0;*/
}

/*.menu-btn:hover {*/
  /*transform: translateY(0%);*/
  /*opacity: 1;*/
/*}*/

.top-menu__menu-list a,
.top-menu__menu-list a:visited,
.top-menu__menu-list a:link {
  display: block;
  box-sizing: border-box;
  padding: 0 0.75em 0 2em;
  margin: 0;
  max-width: 100%;
  height: 2.5em;
  color: var(--top-menu-text-color);
  font-size: 1rem;
  text-align: right;
  line-height: 2.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.top-menu__menu-list a:active {
  outline: none;
  box-shadow: 0 0 0.3em 0.1em rgba(100, 149, 237, .5);
  color: var(--top-menu-active-text-color);
}

.top-menu__menu-list a:hover {
  box-shadow: 0 0 0.5em 0.2em rgba(100, 149, 237, .3);
  color: var(--top-menu-hover-text-color);
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.top-menu__menu-list a:focus {
  outline: none;
  color: var(--top-menu-focus-text-color);
}

.header__top-menu .top-menu__button {
  display: block;
  padding-left: 2.5em;
  background: var(--button-bg-color) url("images/pluse.svg") top 50% left 10%/auto no-repeat;
}