<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>lesson-18-less-base-card</title>
  <link rel="stylesheet" href="catalog__item-card.css">
</head>
<body>
  <section class="catalog">
    <section class="catalog__item-card">
      <a class="item-card__logo" href=""><img src="./images/novopolotsk-2.jpg" alt="novopolotsk-logo"></a>
      <h3 class="item-card__header">Дворец водного спорта г.Новополоцк</h3>
      <p class="item-card__discription"><span class="sport">Виды спорта: </span>Плавание, Синхронное плавание.</p>
      <a class="item-card__button-link button" href="">Подробнее</a>
    </section>
  </section>
</body>
</html>