@import "../style.css";

.main__add-base {
  font-size: 1rem;
  margin: 1em;
}

.main-add-base__title {
  padding: 1em;
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: left;
  color: var(--main-add-base__title-text-color);
}

.add-base-form__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.add-base-form-layout__col {
  margin: 1em;
  max-width: 100%;
}

.add-base__input > label {
  display: block;
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: 1.3em;
  padding: 0.1em;
  color: var(--main-add-base-label-text-color);
}

.textarea-field__label {
  display: block;
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: 1.3em;
  padding: 0.1em;
  color: var(--main-add-base-label-text-color);
}

.add-base__textarea-field {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border: 1px solid var(--main-add-base__textarea-field-border-color);
  outline: none;
  border-radius: 0.2em;
  background: var(--main-add-base-textarea-bg-color);
  color: var(--main-add-base__textarea-field-text-color);
  font-size: 1.2em;
}

.add-base > fieldset {
  margin: 1em;
  border-radius: 0.3em;
  background: var(--main-add-base-fieldset-bg-color);
  border: none;
}

.add-base__input-field {
  width: 100%;
  height: 3em;
  padding: 0.5em;
  border: 1px solid var(--main-add-base__input-field-border-color);
  outline: none;
  border-radius: 0.2em;
  background: aliceblue;
  color: var(--main-add-base__input-field-text-color);
  font-size: 1.2em;
}

.add-base__input {
  padding: 0.1em 0 0.4em;
}

.add-base__submit-button {
  display: none;
  outline: none;
}

.add-base__drop-file-button {
  display: none;
  outline: none;
}

.drop-file__label {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1em;
}

@media (max-width: 1115px) {

  .menu-main__right-item {
    margin: 0;
  }

  .sb-header__menu-main {
    padding-top: 5em;
  }

  .menu-main__center-item {
    position: absolute;
    left: 50%;
    top: 0.5em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .top-menu {
    position: relative;
  }

  .sb-footer__layout {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .sb-footer__kontakt {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .main-header-logo {
    display: none;
  }
}

@media screen and (max-width: 800px) {

  .sb-footer__list {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media (max-width: 640px) {

  .sb-header__menu-main,
  .sb-footer__layout,
  .sb-footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }

  .sb-footer__list-item {
    border-right: none;
  }

  .main__header {
    display: none;
  }

}