@import url(../style.css);

.sb-main__contacts-card {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  font-size: 1rem;
  margin: 1em;
  background: aliceblue;
  border-radius: 0.3em;
}

.contacts-coll {
  margin: 2em;
}

.sb-main-contacts__header {
  margin: 0;
  padding: 1em;
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: left;
  color: var(--sb-main-contacts__header-text-color);
}

.sb-main__contacts-card h3 {
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: 2.2em;
  padding: 0.3em 0 0.6em 0;
  font-weight: bold;
  color: var(--sb-main__contacts-card-title-color);
}

.sb-main__contacts-card p {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1.2em;
  padding: 0.3em 0.3em;
  color: var(--sb-main__contacts-card-content);
}


@media (max-width: 1115px) {
  .menu-main__right-item {
    margin: 0;
  }
  .sb-header__menu-main {
    padding-top: 5em;
  }
  .menu-main__center-item {
    position: absolute;
    left: 50%;
    top: 0.5em;
    transform: translateX(-50%);
  }
  .top-menu {
    position: relative;
  }
  .sb-footer__layout {
    flex-flow: row wrap;
  }
  .sb-footer__kontakt {
    order: -1;
  }
  .sb-main__header {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .sb-footer__list {
    justify-content: space-around;
  }
}

@media (max-width: 640px) {
  .sb-header__menu-main,
  .sb-footer__layout,
  .sb-footer__list {
    flex-direction: column;
    align-items: center;
  }
  .sb-footer__list-item {
    border-right: none;
  }
}

