<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>lesson-16-start-project-search-form</title>
  <link rel="stylesheet" href="./search-form.css">
</head>
<body>
  <section>
    <form class="header__search-form" action="">
      <input class="search-form__input" type="search" name="sportbase" placeholder="Поиск спортивной базы"
             autocomplete="off">
      <button class="search-form__button button" type="submit">найти</button>
    </form>
  </section>
</body>
</html>