@import "./../../../project/style.css";

:root {
  --input-bg-color: var(--aliceblue);
  --placeholder-text-color: var(--periwinkle-gray);
  --input-text-color: var(--nepal)
}

.search-form__input {
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100%;
  height: 2em;
  margin: 0;
  padding: 0.1em 0.5em 0.1em 2.5em;
  border: none;
  outline: none;
  border-radius: 0.5em;
  color: var(--input-text-color);
  background: url("search-form-input__magnifier-icon.svg") top 55% left 6%/auto no-repeat var(--input-bg-color);
  font-size: 1rem;
  line-height: 1.5em;
  text-align: left;
  white-space: nowrap;
}

.search-form__input::placeholder {
  color: var(--placeholder-text-color);
}

.search-form__input:focus::placeholder {
  color: transparent;
}
